<footer class="footer-custom">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Links Rápidos</h5>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">Sobre</a></li>
          <li><a href="#">Serviços</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Informações de Contato</h5>
        <ul class="list-unstyled">
          <li><i class="bi bi-geo-alt"></i> Endereço: </li>
          <li><i class="bi bi-telephone"></i> Telefone: </li>
          <li><i class="bi bi-envelope"></i> Email: </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Redes Sociais</h5>
        <ul class="list-unstyled">
          <li><a href="#"><i class="bi bi-facebook"></i> Facebook</a></li>
          <li><a href="#"><i class="bi bi-twitter"></i> Twitter</a></li>
          <li><a href="#"><i class="bi bi-instagram"></i> Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
